@model List<LayoutProcessAdmin.Models.Calendar.EventsTable>

@{
    ViewBag.Title = "Home Page";
}

@section css{
    <link href="~/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">Events</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">My Events</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10 offset-1">
         <table class="table table-bordered table-hover table-light" id="evetsTable">
             <thead>
                 <tr>
                     <th>#</th>
                     <th>Audit</th>
                     <th>Checklist</th>
                     <th>State</th>
                     <th>Schedule Date</th>
                     <th></th>
                 </tr>
             </thead>
             <tbody>

                 @{
                    var c = 1;
                    foreach (var e in Model)
                    {
                         <tr>
                             <td>@c</td>
                             <td>@e.Audit</td>
                             <td>@e.Checklist</td>
                             <td>@e.State</td>
                             <td>@e.Date</td>
                             <td><center><a class="btn btn-primary text-light" role="button" onclick="unaFunction(@e.EventId)">Attend <i class="fa fa-check-square"></i></a></center></td>
                         </tr>
                         c++;
                     }
                 }

             </tbody>
         </table>
    </div>
</div>