@model LayoutProcessAdmin.Models.Account.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">User Details</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div>
    <div class="card" style="width: 24rem;font-size: 15px;">
        <div class="card-header">
            <h3>User Information</h3>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>@Html.DisplayNameFor(model => model.chr_Clave)</b><br />
                    @Html.DisplayFor(model => model.chr_Clave)
                </li>
                <li class="list-group-item">
                    <b>Full Name</b><br />
                    @Html.DisplayFor(model => model.chr_Name) @Html.DisplayFor(model => model.chr_LastName)
                </li>
                <li class="list-group-item">
                    <b>@Html.DisplayNameFor(model => model.chr_Email)</b><br />
                    @Html.DisplayFor(model => model.chr_Email)
                </li>
                <li class="list-group-item">
                    <b>@Html.DisplayNameFor(model => model.chr_Phone)</b><br />
                    @Html.DisplayFor(model => model.chr_Phone)
                </li>
                <li class="list-group-item">
                    <b>@Html.DisplayNameFor(model => model.UserRoles[0].int_LpaRole.chr_Name)</b> <br />
                    @if (Model.UserRoles.Count > 0)
                    {
                        @Html.DisplayFor(model => model.UserRoles[0].int_LpaRole.chr_Name);
                    }
                </li>
            </ul>
        </div>
        <div class="card-footer">
            @Html.ActionLink("Edit", "Edit", new { id = Model.int_IdUser }, new { role = "Button", @class = "btn btn-warning"})
            @Html.ActionLink("Back to List", "Index", null, new { role = "Button", @class = "btn btn-primary" })
        </div>
    </div>

    <p>
        <h3> El plan es que aqui tambien se pueda ver información del usuario como:</h3>
        <ul>
            <li>
                Checklist que posee
            </li>
            <li>
                Actividad del usuario como checklist que ha respondido, creado, eliminado, etc.
            </li>
            <li>
                checklists contestados, pendientes y tambien los que no contesto.
            </li>
            <li>
                Posiblemente esta pantalla tambien pueda ser vista por otros roles para monitorear la actvidad de los usuarios
            </li>
        </ul>
    </p>
</div>
