@model IEnumerable<LayoutProcessAdmin.Models.Account.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.chr_Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chr_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chr_LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chr_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chr_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chr_Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.chr_Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chr_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chr_LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chr_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chr_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chr_Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.int_IdUser }) |
            @Html.ActionLink("Details", "Details", new { id=item.int_IdUser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.int_IdUser })
        </td>
    </tr>
}

</table>
