@model LayoutProcessAdmin.Models.Account.Role

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">Role Details</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Roles</li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div>
    <div class="card" style="width: 30rem;font-size: 15px;">
        <div class="card-header">
            <h3>Role Information</h3>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>@Html.DisplayNameFor(model => model.chr_Name)</b><br />
                    @Html.DisplayFor(model => model.chr_Name)
                </li>
                <li class="list-group-item">
                    <b>@Html.DisplayNameFor(model => model.chr_Description)</b><br />
                    @Html.DisplayFor(model => model.chr_Description)
                </li>
                <li class="list-group-item">
                    @Html.DisplayFor(model => model.bit_ManageUsers)
                    <b>@Html.DisplayNameFor(model => model.bit_ManageUsers)</b>
                </li>
                <li class="list-group-item">
                    @Html.DisplayFor(model => model.bit_ManageGlobalUsers)
                    <b>@Html.DisplayNameFor(model => model.bit_ManageGlobalUsers)</b>
                </li>
                <li class="list-group-item">
                    @Html.DisplayFor(model => model.bit_ManageChecklist)
                    <b>@Html.DisplayNameFor(model => model.bit_ManageChecklist)</b>
                </li>
                <li class="list-group-item">
                    @Html.DisplayFor(model => model.bit_FillChecklists)
                    <b>@Html.DisplayNameFor(model => model.bit_FillChecklists)</b>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            @Html.ActionLink("Edit", "Edit", new { id = Model.int_IdRole }, new { role = "Button", @class = "btn btn-warning" })
            @Html.ActionLink("Back to List", "Index", null, new { role = "Button", @class = "btn btn-primary" })
        </div>
    </div>
</div>
