@model LayoutProcessAdmin.Models.Account.Role

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">Roles Managment - Edit</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Roles</li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.int_IdRole)

    <div class="form-group">
        @Html.LabelFor(model => model.chr_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.chr_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.chr_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.chr_Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextAreaFor(model => model.chr_Description, htmlAttributes: new { @class = "form-control custom-textarea" })
            @Html.ValidationMessageFor(model => model.chr_Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-offset-2 col-md-4" style="font-size: 18px;">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(model => model.bit_ManageUsers, new { @class = "custom-control-input", type = "checkbox" })
                    @Html.LabelFor(model => model.bit_ManageUsers, htmlAttributes: new { @class = "custom-control-label" })
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(model => model.bit_ManageGlobalUsers, new { @class = "custom-control-input", type = "checkbox" })
                    @Html.LabelFor(model => model.bit_ManageGlobalUsers, htmlAttributes: new { @class = "custom-control-label" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(model => model.bit_ManageChecklist, new { @class = "custom-control-input", type = "checkbox" })
                    @Html.LabelFor(model => model.bit_ManageChecklist, htmlAttributes: new { @class = "custom-control-label" })
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(model => model.bit_FillChecklists, new { @class = "custom-control-input", type = "checkbox" })
                    @Html.LabelFor(model => model.bit_FillChecklists, htmlAttributes: new { @class = "custom-control-label" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <a href="@Url.Action("Index", "Roles")" role="button" class="btn btn-warning">
                    <i class="fa fa-long-arrow-alt-left"></i> Back to List
                </a>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>
}

